body{
    height: 100vh;
    background-color: #760450;
    display: grid;
    grid-template-areas: 
        "header"
        "main" 
        "footer";
    grid-template-rows: 100px 1fr  100px;
    margin-right: 100px;
}
header {
    grid-area: header;
    background-color: aliceblue ;

}
main {
    grid-area: main;
    background-color: aqua;
}
footer {
    grid-area: footer;
    background-color:cadetblue;
}